{
  "jsc": {
    "transform": {
      "decoratorMetadata": true
    },
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
